.ordenadas{
    background-color: yellow;
    font-size: 20px;
}

ol li em{
    text-transform:uppercase;
}

ol li  span {
    color: green;
    text-transform:lowercase;
}

h1, h2, h3{
    color: red;
} 

.listas{
    font-size: 20px;
}

ul li span{
    color: blue;
    background-color: pink;
}

a:hover {
    font-weight: bold;
        
}



