.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
}

.baloon {
  position: absolute;
  top: 350px;
  left: 100px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 400px;
  left: 120px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 545px;
  left: 300px;
}